pod install --repo-update<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61772811261-q58u001vq8q5oeso0jpj0h4p5tqg688s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61772811261-q58u001vq8q5oeso0jpj0h4p5tqg688s</string>
	<key>API_KEY</key>
	<string>AIzaSyBA0u1YYJpA9DjM8TufXu8YlBWtHP07OIU</string>
	<key>GCM_SENDER_ID</key>
	<string>61772811261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalDiscount</string>
	<key>PROJECT_ID</key>
	<string>test5-a3979</string>
	<key>STORAGE_BUCKET</key>
	<string>test5-a3979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61772811261:ios:21c0c3990c0673052f6794</string>
</dict>
</plist>